@import url(./vars.less);
.call-dial {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &-number {
    display: flex;
    align-items: center;
    height: 50px;
    input {
      max-width: 216px;
      padding: 0;
      text-align: center;
      border: none;
      outline: none;
    }
    i {
      color: @font-color-hover;
      margin-left: 6px;
      cursor: pointer;
    }
  }
  @size: 50px;
  & > &-call {
    .radius-button;
    margin: 24px 0;
    color: @background-color-call;
    &_disabled {
      color: @background-color-call-disabled;
      cursor: not-allowed;
    }
  }
}
