@import './themeVars.less';
@font-color-normal: #000000;
@font-color-shallow: #999999;
@font-color-hover: #62a8ea;

@background-color: rgb(241, 242, 244);
@background-color-hover: #e8f1f8;
@background-color-call: #6ed76c;
@background-color-call-disabled: #abdaaa;

@font-larger: 24px;
@font-large: 16px;
@font-normal: 14px;
@font-small: 12px;
@font-smaller: 10px;

@panel-width: 268px;
@normal-border: 1px solid #e6e6e6;

.block-shadow {
  box-shadow: 0px 0px 10px #eee;
}
