<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
  <meta name="theme-color" content="#f60">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon.png">
  <link rel="shortcut icon" sizes="48x48" href="/images/favicon.png">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_2088798_tlzwu1xy8z.css">
  <link rel="manifest" href="/manifest.json">
  <script src="https://qiyukf.nosdn.127.net/prd/res/lib/qiyuconnect_v3.14_81693b6eb835f223360c5ad0023d0484.js"></script>
</head>

<body>
  <video id="qiyu-phone" autoPlay></video>
  <audio src="" id="call-ring-sound" loop preload></audio>
  <audio src="/res/audio/connected.mp3?_v=1541492435774" id="call-connected-sound" preload></audio>
  <audio src="/res/audio/hangup.mp3?_v=1541492435774" id="call-hangup-sound" preload></audio>
  <script type="text/javascript" src="/js/vendors.dll.js"></script>
  <div id="root"></div>
</body>

</html>