<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
  <meta name="theme-color" content="#f60">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon.png">
  <link rel="shortcut icon" sizes="48x48" href="/images/favicon.png">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_2088798_tlzwu1xy8z.css">
  <link rel="manifest" href="/manifest.json">
  <script type="text/javascript"
          src="https://qiyukf.nosdn.127.net/prd/res/lib/qiyuconnect_v3.14_81693b6eb835f223360c5ad0023d0484.js"></script>
</head>

<body>
  <script type="text/javascript" src="/static/js/nim_base_v2.8.3.js"></script>
  <script type="text/javascript" src="/static/js/nim_v2.8.3.js"></script>
  <script type="text/javascript" src="/static/js/qiyuconnect_4.0.0.min.js"></script>
  <script type="text/javascript" src="/static/js/debug.js"></script>

  <video id="qiyu-phone" autoPlay></video>
  <audio src="https://ysf.qiyukf.net/ysf_callin_ring.mp3" id="call-ring-sound" loop preload></audio>
  <audio src="https://res.qiyukf.net/prd/res/audio/connected.mp3?_v=1541492435774" id="call-connected-sound"
         preload></audio>
  <audio src="https://res.qiyukf.net/prd/res/audio/hangup.mp3?_v=1541492435774" id="call-hangup-sound" preload></audio>
  <audio src="https://ysf.qiyukf.net/webapi/38a7410cdf36ef88290e0136e0f86998" id="notification-sound" preload></audio>
  <script type="text/javascript" src="/js/vendors.dll.js"></script>
  <div id="root"></div>
  <script>
    window.onload = () => {
      const callPanel = new CallPanel({
        root: 'root'
      });
      // setTimeout(() => {
      //   callPanel.sendCall({ phone: '17610217100' })
      // }, 2000)
    }
  </script>
</body>

</html>